/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media (min-width: 768px) {

    .container {
      max-width: 1400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
    .centered {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    
    .row {
      flex-direction: row;
    }
    
    [class^=col] {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
      & + & {
        margin-left: 10px;
      }
    }
    @include col(flex-basis); //// list out all col-numbers. check _variables.scss and _mixins.scss
    .nav {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      &-link {
        flex-basis: 100px;
      }
    }
    .btn {
      padding: 10px 30px;
      & + & {
        margin-left: 10px;
      }
    }
    
    .logo {
      margin-left: initial;
      margin-right: initial;
    }
    
    }