//color variables
$viking:                    #58e1c1;
$gray:                      #777;
$malibu:                    #51ddfc;
$purple_mountains_majesty:  #927bc1;
$coral:                     #fd7856;
$emerald:                   #63CC82;
$sunglo:                    #e4757a;
$white:                     #fff;
////////   color and their basis arranged in the order of the col-number
$bgcolor_basis: (
    $purple_mountains_majesty: 8.33%,
    $coral                  : 16.7%,
    #deb2ee               : 25%,
    #7ee6fd               : 33.33%,
    #88d9a0               : 41.67%,
    #4da2bb               : 50.00%,
    #ec9fa3               : 58.33%,
    #fd9f85               : 66.67%,
    $sunglo                 : 75%,
    $emerald                : 83.33%,
    $malibu                 : 91.67%,
    #80e8d1               : 100%,
);
////////button colors
$button_themes: (
    default: $malibu,
    error:   $sunglo,
    info:    $purple_mountains_majesty,
    success: $emerald,
    warning: $coral,
);
///// media query variables
$break_point: 768px;